@use '@gear-js/ui/variables' as *;

.field {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  & > *:not(:last-child) {
    margin-right: 16px;
  }
}

.inputs {
  flex: 1;
  max-width: 540px;

  & > *:not(:last-child) {
    margin-bottom: 4px;
  }
}

.moveright{
  flex: 1;
  color: #7B1B70;
  font-size: large;
  font-weight: 500;
}

.moveleft{
  flex: 1;
  max-width: 540px;
  display: grid;
  grid-template-columns: 4fr 6fr;
  color: #7B1B70 !important;
  background-color: #DE9AB7 !important;

}

.input {
  display: grid;
  grid-template-columns: 4fr 6fr;
  
  color: #7B1B70;
  font-size: large;
  font-weight: 500;
}

.error {
  color: $errorColor;
}
