@use '@gear-js/ui/variables' as *;
@use '@gear-js/ui/headings' as *;

@mixin verticalGap($gap) {
  & > *:not(:last-child) {
    margin-bottom: $gap;
  }
}

@mixin horizontalGap($gap) {
  & > *:not(:last-child) {
    margin-right: $gap;
  }
}

.heading {
  @extend %h5;
  margin-bottom: 32px;
  color: #7B1B70;
  background-color: #FEDEEB;
}

.main {
  padding: 25px 40px;
  background-color: #DE9AB7;
  border: 1px dashed #0e0e0e;
  border-radius: $borderRadius;
}

.form {
  @include verticalGap(32px);
  background-color: #DE9AB7;
  /*Rosa bajito: FEDEEB
    rosa medio: DE9AB7
    rosa fuerte:7B1B70
  */
}

.item {
  @include horizontalGap(32px);
  display: flex;
  align-items: center;

}


.input,
.button {
  max-width: 540px;
}
.button{
  background-color: #7B1B70;
}

.input {
  flex: 1;
  display: grid;
  grid-template-columns: 4fr 6fr;

  color: #7B1B70 !important;
  font-size: large !important;
  font-weight: 500 !important; 
}

.error {
  color: $errorColor;
}

.checkbox {
  &Wrapper {
    &::before {
      content: '';
    }
  }

  &Error {
    margin-left: auto;
  }
}
