@use 'assets/styles';
@use '@gear-js/ui/variables' as *;

#root {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
}

.Button-module_secondary__j-3rj {
  background-color: #7B1B70 !important;
  transition: all .25s !important;
  &:hover {
    background-color: #7b1b706d !important;
  }
}

.FileInput-module_text__EOZei{
  color: #7B1B70 !important;
  font-size: large !important;
  font-weight: 500 !important; 
}


main {
  flex: 1;
  padding: 30px 0 60px;
  position: relative; // for loaders
  background-color: #FEDEEB;
}

body {
  background: #FEDEEB;
  
}

.link-text {
  transition: opacity 150ms ease-in;

  &:hover {
    opacity: .5;
  }
}
